body{
    margin: 0;
    padding: 0;
    background-color: #A0A0A0;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

a.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
}

a.back-link:hover {
    text-decoration: underline;
}
      
/* Styles for index.html */
#randomImage {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Styles for all-images.html */
#allImages {
    padding: 20px;
}

#imageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    justify-content: start;
    max-width: calc(5 * 200px + 4 * 20px);
}

#imageGrid img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}